@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: Roboto Mono, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    background: #222;
}

/* ScrollBar Styles */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #f5f5f5;
}